body {
    height: 100vh;
    width: auto;
    font-family: "Figtree";
    line-height: 1.7;
    background-color: #f4d04e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.card {
    padding: 1rem;
}
/* hero image on the card */
.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

main {
    display: flex;
    padding-top: 2rem;

}

.wrapper {
    max-width: 50dvw;
    height: fit-content;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #121212;
    box-shadow: 10px 10px 0 0#121212 ;

}


.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1.5em;
}

.author img {
    padding-right: 2%;
}

h1 {
    font-weight: 800;
}

p {
    font-weight: 300;
    line-height: 1.5;
    color: #6b6b6b;
    font-weight: 500;
}

.remove-underline {
    text-decoration: none;
    color: #121212;
}

a h1:hover {
    color:#f4d04e;
}

.title-bg-color {
    display: inline-block;
    background-color: #f4d04e;
    border-radius: 10px;
    padding: 2%;

}

.attribution {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding-top: 2rem;
    width: 100%;
    height: auto;    

}

.medium-font {
    color:#121212;
    font-size: medium;
    font-weight: 500;
}

/* colours: 

yellow #f4d04e
white #fff
black #121212
gray  #6b6b6b



