body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    margin: 0;
    font-family: "Figtree";
    line-height: 1.7;
    background-color: #f4d04e;

}

.card {
    padding: 1rem;
}

/* hero image on the card */
.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}

.wrapper {
    display: flex;
    flex-direction: row;
    width: min(100% - 2rem, 300px);
    height: auto;
    margin-top: auto;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #121212;
    box-shadow: 10px 10px 0 0#121212 ;

}

.author {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1.5em;
    gap: 2%;
}

.author img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

h1 {
    font-size: 1.25rem;
}
h2 {
    font-weight: 800;
    font-size: 2rem;
}

p {
    line-height: 1.5;
    color: #6b6b6b;
    font-weight: 500;
}

.remove-underline {
    text-decoration: none;
    color: #121212;
}

a:hover h2, 
a:focus-visible h2, 
a:active h2  {
    color: #f4d04e;
}



.title-bg-color {
    display: inline-block;
    background-color: #f4d04e;
    border-radius: 10px;
    padding: 2%;

}

footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    margin-top: auto;

}

.attribution {
    font-size: 0.75rem;
}

.medium-font {
    color:#121212;
    font-size: medium;
    font-weight: 500;
}

/* colours: 

yellow #f4d04e
white #fff
black #121212
gray  #6b6b6b



